<% unless issue.found_versions.empty? %>
<tr>
  <td>
      <b>
        <%# copy permissions system from redmine-vote later %>
        <%= l :label_found_versions %>:
      </b>
  </td>
  <td>
    <%= content_tag('span', issue.found_versions.map(&:name).join(', '), :class => 'fixed-versions') %>
  </td>
</tr>
<% end %>

<% unless issue.fixed_versions.empty? %>
<tr>
  <td>
      <b>
        <%# copy permissions system from redmine-vote later %>
        <%= l :label_fixed_versions %>:
      </b>
  </td>
  <td>
    <%= content_tag('span', issue.fixed_versions.map(&:name).join(', '), :class => 'fixed-versions') %>
  </td>
</tr>
<% end %>
